# --- Core Data Science ---
pandas
numpy
matplotlib
seaborn

# --- Machine Learning ---
scikit-learn
joblib
catboost
yellowbrick

# --- Deep Learning ---
tensorflow
scikeras

# --- Deployment ---
streamlit